[Unit]
Description=Veridian Controller Fan Monitoring Service
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/veridian-controller
Restart=on-failure
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target
