[Unit]
Description=Veridian Controller Fan Monitoring Service

[Service]
Type=simple
ExecStart=%h/.local/bin/veridian-controller
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target
